### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db
